
.searchmenu{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    
}

@media screen and (max-width: 450px) {
    .searchmenu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
       }
  }

input{
    border: 0;
    padding: 12px;
    width: 300px;
    /* border-radius: 8px; */
    box-shadow: 0px 0px 3px 0px lightgrey;
    margin-bottom: 32px;
}

select{
    border: 0;
    padding: 12px;
    width: 150px;
    
    /* border-radius: 8px; */
    box-shadow: 0px 0px 3px 0px white;
    background-color: white;
    box-shadow: 0px 0px 3px 0px lightgrey;
}

select option{
    background-color: white;
    outline: none !important;
    /* border-color: var(--lightgray); */
}

input:focus,select:focus { 
    outline: none !important;
    border-color: var(--lightgray);
}