:root {
    --darkblue: hsl(209, 23%, 22%);
    --verydarkblue: hsl(207, 26%, 17%);
    --darkbluetext: hsl(200, 15%, 8%);
    --darkgray: hsl(0, 0%, 52%);
    --lightgray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
    --homeitemfont: 14px;
    --detailpagefont:16px;
  }

*{
  transition: 0.5s ease-in-out !important;
}
  @font-face {
    font-family: 'NunitoSans';
    src: local('NunitoSans'), url(../src/fonts/NunitoSans-Regular.ttf) format('opentype');
  }
  
  @font-face {
      font-family: 'NunitoSans';
      font-weight: 900;
      src: local('NunitoSans'), url(../src/fonts/NunitoSans-Bold.ttf) format('opentype');
  }
  
  @font-face {
      font-family: 'NunitoSans';
      font-weight: 900;
      src: local('NunitoSans'), url(../src/fonts/NunitoSans-Black.ttf) format('opentype');
  }



  *{
    font-family: 'NunitoSans';
  }


  